DB_HOST=blvgoielntvoo6breis7-mysql.services.clever-cloud.com
DB_USERNAME=your_username
DB_PASSWORD=your_password
DB_DATABASE=your_database
DB_PORT=3306

DOCKER_IMAGE=yourdockerhubusername/fashionshop
IMAGE_TAG=latest